*.suo
*.user
amichaluik/Algorithms/packages/
amichaluik/Algorithms/Algorithms.Sorting/obj/
amichaluik/Algorithms/Algorithms.SortingTest/obj/Debug/
amichaluik/Algorithms/Algorithms.Sorting/bin/
amichaluik/Algorithms/Algorithms.SortingTest/bin/
StankovK/ClassLibrary1/obj/
StankovK/SortTest/obj/Debug/
StankovK/packages/
