*.suo
*.user
StankovK/packages/
StankovK/ClassLibrary1/obj/
StankovK/SortTest/obj/Debug/
amichaluik/Algorithms/packages/
amichaluik/Algorithms/Algorithms.sln.ide/
amichaluik/Algorithms/Algorithms.Sorting/obj/
amichaluik/Algorithms/Algorithms.Sorting/bin/
amichaluik/Algorithms/Algorithms.SortingTest/bin/
amichaluik/Algorithms/Algorithms.SortingTest/obj/Debug/
BelinskiiR/SortVst/packages
BelinskiiR/SortVst/Algorithms.SortVsrTest/obj/Debug
BelinskiiR/SortVst/SortVst/obj/Debug